<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather | About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Umair Baig as part of his dedication to self-growth and rockstar coding expertise. It uses data form mapbox.com and darksky.net to display weather data for a particular location based on user input. This app was built with NodeJs, Express, and a variety of other node packages, and launched with Heroku.</p>
        <img class="portrait" src="/images/robot.png" alt="">
    </div>
    {{>footer}}
</body>
</html>